{% extends "navbar.html" %}

{% block content %}

<div class="container" align="center" style="padding-top:50px;" >

    <form method="POST" class="col-12 col-md-6 pl-3 pr-3 pl-md-0 pr-md-0" style="padding-top:5px;" >
        <fieldset class="form-group" >
            <legend class="mb-3 white-important">
            </legend>
            {% csrf_token %}
            {{ form }}
        </fieldset>
        <a href="question/"><button class="btn btn-outline-success" type="submit" style="margin-left:1%">ADD Question</button></a>

    </form>

</div>
{% endblock %}



























