
{% extends "navbar.html" %} 
{% load static %}
{% block title %}
<h4>Assesment</h4>
{% endblock %}

{% block table %}
<div class="title" style="margin:10px;"><center><h4><b>Assesment</b></h4></center></div>
<link href="{% static 'https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css'%}" rel="stylesheet">
<script src="{% static 'https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js' %}"></script>

<section>
  <table class="table table-striped" style="width:1200px;margin:30px;">
    <thead>
      <tr>
        <th scope="col" >User</th>
        <th scope="col" >Question</th>
        <th scope="col" >Year_of_experience</th>
        <th scope="col" >Mentor</th>
  
      </tr>
      
       
    </thead>
    <tbody>
      {% for u in assesment %}
    <tr>
      <td>{{u.user}}</td>
      <td>{{u.question}}</td>
      <td>{{u.year_of_experience}}</td>
      <td>{{u.mentor}}</td>
                
          
          
    </tr>
    {% endfor %}
   
    
    
  </tbody>
</table>       


</section>

{% endblock %}