<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">

<style>
  .jumbotron{
    margin-bottom: 0px;
  }
</style>
<body>
  {% include "navbar.html" %}
<br>
<section id="section-jumbotron" class=" d-flex justify-content-center align-items-center" style="padding-top:200px;">
  <div class="container text-center">
    <h2 class="display-3 text-info">Questionary Portal</h2>
    <p class="display-4 d-none d-sm-block"></p>
    <a href="{% url 'register' %}" class="btn btn-lg btn-info" style="padding-right: 35px; border-radius: 0%;"><i class="fa fa-graduation-cap" aria-hidden="true"></i> Sign Up</a>
   <a href="{% url 'login' %}" class="btn btn-lg btn-info" style="padding-right: 35px; border-radius: 0%;"><i class="fa fa-graduation-cap" aria-hidden="true"></i> Sign IN</a>
    <br><br><br>
  </div>  
</section>
  <footer>
				<div class="row pad">
					<div class="col-lg-12 text-center" style="padding-top:200px;">
						Copyright &copy; NEOSOFT <strong></strong>
					</div>
				</div>
			</footer>
{% block content %}
{% endblock %}



</body>

</html>