<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    {% block admin%}
    {% endblock%}
    <style type="text/css">
        .bs-example {
            margin: 0px;

        }

        .bg-dark {
            background-color: #212529 !important;
        }

        .navbar-brand {
            font-size: 20px;
            font-family: sans-serif;
        }
        .table{
            display: inline flow-root;
        }
    </style>
</head>

<body>
    <div class="bs-example" >
        <nav class="navbar navbar-expand-md  navbar-dark fixed-top" style="background-color: #212529;">
            <a style="color: #ffffff;text-decoration: none; " href="/">
                <font face="verdana" size=" 5">Questionare Portal</font><br />
            </a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse" >
.
                <nav class="navbar-nav" style="margin-left:75%" >
                    <a href="http://127.0.0.1:8000/user/" class="nav-item nav-link">User</a>
                    <a href="{% url 'admin' %}" class="nav-item nav-link">Admin</a>
                    <a href="{% url 'contact' %}" class="nav-item nav-link">Contact</a>

                </nav>
            </div>
        </nav>
        {% block title %}
        {% endblock %}
    </div>
    <div class="pt-3">


</div>
    {% block content %}
    {% endblock %}
    {% comment %} {% block cont %}
    {% endblock %} {% endcomment %}
</body>
{% block cont %}
{% endblock %}

{% block table %}
{% endblock %}
</html>