{% extends "navbar.html" %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container" align="center" >

    <form method="POST" class="col-12 col-md-6 pl-3 pr-3 pl-md-0 pr-md-0" style="padding-top:100px;" >

<div class="container">
    <form method="POST" class="col-12 col-md-6 pl-3 pr-3 pl-md-0 pr-md-0" style="padding-top:100px;">
        <h4 style="margin-left:10%"> welcome {{request.user}}</h4><br>
        <fieldset class="form-group" >
            <legend class="mb-3 white-important">
            </legend>
            {% csrf_token %}
            {{ form | crispy }}
        </fieldset>

            <a href="question/"><button class="btn btn-outline-success" type="submit" style="margin-left:7%">ADD Question</button></a>

    </form>
</div>


{% endblock %}